<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: center;">{{tv.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <div style="display: block;">
        <div style="float: left;margin-right: 10px;">
            <img [src]="tv.src" [alt]="tv.name" class="movie-detail-src">
          </div>
          <div>
              <p>
                  <span class="c01">名称：<span class="c02">{{tv.name}}</span></span>
                </p>
                <p>
                  <span class="c01">类型：<span class="c02">{{tv.type}}</span></span>
                </p>
          </div>
    </div>
    <div style="display: inline-block;margin-top: 15px;">
      <ion-list style="padding-top: 0rpx;" *ngFor="let source of tv.sources,let i = index">
        <h3 class="source_name">{{source.name}}</h3>
        <span *ngFor="let type of source.types,let j = index">
          <!-- 当前选中项的影视源 -->
          <a class="c02 source_type source_type_active" (click)="changeMovieType(tv._id, i, j)"
            *ngIf="i == source_index && j==type_index">{{type.name}}</a>
          <!-- 不是当前选中项的影视源 -->
          <a class="c02 source_type" (click)="changeMovieType(tv._id, i, j)" *ngIf="i != source_index || j != type_index">{{type.name}}</a>
        </span>
      </ion-list>
      <p style="color: #999;">
        <span class="c01">剧情介绍：</span>
        <span class="c02">{{tv.introduction}}</span>
      </p>
    </div>
  </ion-content>