<!DOCTYPE html>
<html lang="zh-CN">
<th:block th:insert="../templates/head"></th:block>
<body>

<th:block th:insert="../templates/navigation"></th:block>

<div class="main kongbai">
    <div class="sy-all mb clearfix">
        <div class="sy-title clearfix">
            <p class="type">
                <span class="type"><a href='/'>首页</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a
                        href='/?m=vod-type-id-1.html' th:text="${typeName}"></a></span>
            </p>
            <p class="chg sbtn" _s_nav="sj-gjsy">收起<i class="sjbgs"></i><i class="sjbgx"></i></p>
        </div>
        <div class="clearfix">
            <div id="sj-gjsy" class="sy clearfix" _s_nav="sj-gjsy">
                <dl class="clearfix" th:each="movieType : ${movieTypes}">
                    <dt><span th:text="${movieType.type} + ':&nbsp;'"></span></dt>
                    <dd th:each="name, typeStat : ${movieType.names}">
                        <a th:if="${movieType.type eq '分类' && name eq type2}" th:href="'/more?type='+${type}+'&type2=' +${name}+ '&re_gion=' +${region}+ '&release_date='+${release_date}+'&sort_type='+${sort_type}+'&key_word='+${key_word}" class="on" th:text="${name}"></a>
                        <a th:if="${movieType.type eq '分类' && name ne type2}" th:href="'/more?type='+${type}+'&type2=' +${name}+ '&re_gion=' +${region}+ '&release_date='+${release_date}+'&sort_type='+${sort_type}+'&key_word='+${key_word}" th:text="${name}"></a>
                        <a th:if="${movieType.type eq '地区' && name eq region}" th:href="'/more?type='+${type}+'&type2=' +${type2}+ '&re_gion=' +${name}+ '&release_date='+${release_date}+'&sort_type='+${sort_type}+'&key_word='+${key_word}" class="on" th:text="${name}"></a>
                        <a th:if="${movieType.type eq '地区' && name ne region}" th:href="'/more?type='+${type}+'&type2=' +${type2}+ '&re_gion=' +${name}+ '&release_date='+${release_date}+'&sort_type='+${sort_type}+'&key_word='+${key_word}" th:text="${name}"></a>
                        <a th:if="${movieType.type eq '年代' && name eq release_date}" th:href="'/more?type='+${type}+'&type2=' +${type2}+ '&re_gion=' +${region}+ '&release_date='+${name}+'&sort_type='+${sort_type}+'&key_word='+${key_word}" class="on" th:text="${name}"></a>
                        <a th:if="${movieType.type eq '年代' && name ne release_date}" th:href="'/more?type='+${type}+'&type2=' +${type2}+ '&re_gion=' +${region}+ '&release_date='+${name}+'&sort_type='+${sort_type}+'&key_word='+${key_word}" th:text="${name}"></a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="sy-jg mb">
        <p class="jg">共<span class="count" id="count"></span>个筛选结果</p>
        <p class="px">
            <a class="on time"
               th:href="'/more?type='+${type}+'&type2=' +${type2}+ '&re_gion=' +${region}+ '&release_date='+${release_date}+'&sort_type=0&key_word='+${key_word}" th:if="${sort_type eq 0 || sort_type eq 1}"><em></em>最新</a>
            <a class="time"
               th:href="'/more?type='+${type}+'&type2=' +${type2}+ '&re_gion=' +${region}+ '&release_date='+${release_date}+'&sort_type=0&key_word='+${key_word}" th:if="${sort_type ne 0 && sort_type ne 1}"><em></em>最新</a>
            <a class="on rq" th:href="'/more?type='+${type}+'&type2=' +${type2}+ '&re_gion=' +${region}+ '&release_date='+${release_date}+'&sort_type=2&key_word='+${key_word}" th:if="${sort_type eq 2}"><em></em>人气</a>
            <a class="rq" th:href="'/more?type='+${type}+'&type2=' +${type2}+ '&re_gion=' +${region}+ '&release_date='+${release_date}+'&sort_type=2&key_word='+${key_word}" th:if="${sort_type ne 2}"><em></em>人气</a>
        </p>
    </div>
    <div class="index-area clearfix">
        <ul id="more-movies"></ul>
    </div>
    <div class="page mb clearfix" id="pages"></div>
</div>
</div>
</div>
<script src="js/config.js"></script>
<script src="js/public.js"></script>
<script src="js/more-movie.js"></script>
<script type='text/javascript' charset='utf-8' src='https://p.zxhrq.cn/vtdd/swh960sav773huj.js'></script>
<div class="navigation_top"></div>
<th:block th:insert="../templates/foot"></th:block>
</body>
</html>