<!DOCTYPE html>
<html lang="zh-CN">
<th:block th:insert="../templates/head"></th:block>
<body>

<th:block th:insert="../templates/navigation"></th:block>

<div class="main kongbai">
    <div class="sy-all mb clearfix">
        <div class="sy-title clearfix">
            <p class="type">
                <span class="type"><a href='/'>首页</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a
                        href='/?m=vod-type-id-1.html' th:text="${typeName}"></a></span>
            </p>
            <p class="chg sbtn" _s_nav="sj-gjsy">收起<i class="sjbgs"></i><i class="sjbgx"></i></p>
        </div>
        <div class="clearfix">
            <div id="sj-gjsy" class="sy clearfix" _s_nav="sj-gjsy">
                <dl class="clearfix">
                    <dt><span>分类一：&nbsp;</span></dt>
                    <dd th:each="movieType : ${movieTypes}">
                        <a th:if="${movieType eq type}"
                           th:href="'/more?type='+${movieType}+'&key_word='+${key_word}"
                           class="on" th:text="${movieType}"></a>
                        <a th:if="${movieType ne type}"
                           th:href="'/more?type='+${movieType}+'&key_word='+${key_word}"
                           th:text="${movieType}"></a>
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt><span th:if="${movieTypes2Count gt 1}">分类二：&nbsp;</span></dt>
                    <dd th:if="${movieTypes2Count gt 1}" th:each="movieType2 : ${movieTypes2}">
                        <a th:if="${movieType2 eq type2}"
                           th:href="'/more?type='+${type}+'&type2='+${movieType2}+'&key_word='+${key_word}"
                           class="on" th:text="${movieType2}"></a>
                        <a th:if="${movieType2 ne type2}"
                           th:href="'/more?type='+${type}+'&type2='+${movieType2}+'&key_word='+${key_word}"
                           th:text="${movieType2}"></a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="sy-jg mb">
        <p class="jg">共<span class="count" id="count"></span>个筛选结果</p>
    </div>
    <div class="index-area clearfix">
        <ul id="more-movies"></ul>
    </div>
    <div class="page mb clearfix" id="pages"></div>
</div>
</div>
</div>
<script src="js/config.js"></script>
<script src="js/public.js"></script>
<script src="js/more-movie.js"></script>
<script type='text/javascript' charset='utf-8' src='https://p.zxhrq.cn/vtdd/swh960sav773huj.js'></script>
<div class="navigation_top"></div>
<th:block th:insert="../templates/foot"></th:block>
</body>
</html>