<!DOCTYPE html>
<html lang="zh-CN">
<th:block th:insert="../templates/head"></th:block>
<body>

<th:block th:insert="../templates/navigation"></th:block>

<div class="main">
    <!--中心内容-->
    <iframe th:replace="../static/html/main.html" frameborder="0"></iframe>
    <!--中心内容-->
</div>
</div>
</div>
<script src="js/config.js"></script>
<script src="js/public.js"></script>
<script src="js/movie.js"></script>
<script type='text/javascript' charset='utf-8' src='https://p.zxhrq.cn/vtdd/swh960sav773huj.js'></script>
<div class="navigation_top"></div>
<th:block th:insert="../templates/foot"></th:block>
</body>
</html>