<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: center;">{{tv.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>

      <link rel="stylesheet" type="text/css" href="https://m.88ys.cc/template/wap88ysw/css/tv.detail.css">

      <!-- 影视详情 -->
      <section class="main">
        <!-- 详细信息 -->
        <div class="detailPosterIntro globalPadding clearfix">
          <div class="posterPic"><img [src]="tv.src" alt="{{tv.name}}" onerror="this.src='http://149.129.94.197:8085/assets/img/load.gif'">
          </div>
          <div class="introTxt">
            <h1>{{tv.name}}</h1>
            <li>类型1：{{tv.type}}</li>
            <li>类型2：{{tv.type2}}</li>
            <li>更新时间：{{tv.acquisition_time}}</li>
          </div>
        </div>
    
        <!-- 资源列表 -->
        <div class="tab globalPadding">
          <ul class="tabNav clearfix">
            <li><span class="cur" (click)="oooTab2(0)">剧集</span></li>
            <li><span class="" (click)="oooTab2(1)">简介</span></li>
          </ul>
        </div>
        <div class="tabConList globalPadding" style="display: inline-block;">
          <div class="tabCon" style="display: block;">
            <dl class="tab2">
              <!-- 资源名称列表 -->
              <dt class="tabt3">
                <div *ngFor="let source of tv.sources,let i = index">
                  <span id="{{source.name}}" class="current" (click)="oooTab(source.name, i)"
                    *ngIf="i == source_index">{{source.name}}</span>
                  <span id="{{source.name}}" (click)="oooTab(source.name, i)"
                    *ngIf="i != source_index">{{source.name}}</span>
                </div>
              </dt>
              <!-- 资源播放地址列表 -->
              <div *ngFor="let source of tv.sources,let i = index">
                <dd class="{{source.name}}" style="display: block;" *ngIf="i == source_index">
                  <ul class="ulNumList clearfix list_1">
                    <li (click)="changeMovieType(_id, i, j)" *ngFor="let type of source.types,let j = index"> <a
                        title="{{type.name}}">{{type.name}}</a></li>
                  </ul>
                </dd>
                <dd class="{{source.name}}" style="display: none;" *ngIf="i != source_index">
                  <ul class="ulNumList clearfix list_1">
                    <li (click)="changeMovieType(_id, i, j)" *ngFor="let type of source.types,let j = index"> <a
                        title="{{type.name}}">{{type.name}}</a></li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
          <div class="tabCon" style="display: none;">
            <p class="movieintro" id="movie_info_intro_s"><span style="color:#333;">剧情简介：</span>{{tv.description}}</p>
          </div>
        </div>
      </section>

      <!-- 相关推荐 -->
  <section class="main">
      <div class="mod_a globalPadding" *ngIf="recommendations.length != 0">
          <div class="th_a"><span class="sMark">相关推荐</span></div>
          <div class="tb_a">
            <ul class="picTxt picTxtA clearfix" id="data_list">
              <li *ngFor="let latestTop10Movie of recommendations" (click)="goMovieDetail((latestTop10Movie._id))">
                <div class="con">
                  <a title="{{latestTop10Movie.name}}"><img data-src="{{latestTop10Movie.src}}"
                      alt="{{latestTop10Movie.name}}" src="{{latestTop10Movie.src}}"
                      onerror="onerror=null;src='http://149.129.94.197:8085/assets/img/load.gif'"
                      style="width: 158rem; height: 13rem; display: block;"><span class="sNum"><em
                        class="emScore">{{latestTop10Movie.update_status}}</em></span> <span
                      class="sTit">{{latestTop10Movie.name}}</span> </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
    </section>
  </ion-content>