<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="film">
        <i class="iconfont icon-dianying"></i>
      <ion-label>影视</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tv">
        <i class="iconfont icon-dianshi"></i>
      <ion-label>电视</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="drama">
        <i class="iconfont icon-xiqu"></i>
      <ion-label>戏曲</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="piece">
      <i class="iconfont icon-xiangshengxiaopin"></i>
    <ion-label>小品</ion-label>
  </ion-tab-button>

    <ion-tab-button tab="personal">
        <i class="iconfont icon-gerenzhongxin"></i>
      <ion-label>我</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
