<ion-header>
  <ion-toolbar color="danger">
    <ion-title style="text-align: center;">{{typeNameList[type]}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- 下拉刷新 -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="松开刷新" refreshingSpinner="circles"
      refreshingText="正在刷新">
    </ion-refresher-content>
  </ion-refresher>
  <!-- 下拉刷新 -->

  <!-- 搜索 -->
  <ion-searchbar (click)="goSearchMovie()" placeholder="请输入影视或演员名称"></ion-searchbar>

  <ion-segment scrollable [(ngModel)]="type">
    <ion-segment-button value="0" (click)="changeMovieType(0)">
      电影
    </ion-segment-button>
    <ion-segment-button value="1" (click)="changeMovieType(1)">
      电视剧
    </ion-segment-button>
    <ion-segment-button value="2" (click)="changeMovieType(2)">
      综艺
    </ion-segment-button>
    <ion-segment-button value="3" (click)="changeMovieType(3)">
      动漫
    </ion-segment-button>
    <ion-segment-button value="4" (click)="changeMovieType(4)">
      少儿
    </ion-segment-button>
  </ion-segment>

  <!-- 推荐数据 -->
  <section class="main">
    <div id="page">
    </div>

    <!-- 最热影视 -->
    <div class="mod_a globalPadding">
      <div class="th_a"><span class="sMark"><i class="iPoint"></i>最热{{typeNameList[type]}}</span><span class="span-more"
          (click)="goMoreMovie(1)">更多</span></div>
      <div class="tb_a">
        <ul class="picTxt picTxtA clearfix" id="data_list">
          <li *ngFor="let latestTop10Movie of hottestTop10Movies" (click)="goMovieDetail((latestTop10Movie._id))">
            <div class="con">
              <a title="{{latestTop10Movie.name}}"><img
                  data-src="{{latestTop10Movie.src}}" alt="{{latestTop10Movie.name}}" src="{{latestTop10Movie.src}}"
                  onerror="onerror=null;src='https://gxtstatic.com/xl/statics/img/nopic.gif'"
                  style="width: 158px; height: 159px; display: block;"><span class="sNum"><em
                    class="emScore">{{latestTop10Movie.update_status}}</em></span> <span
                  class="sTit">{{latestTop10Movie.name}}</span> </a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- 最新影视 -->
    <div class="mod_a globalPadding">
      <div class="th_a"><span class="sMark"><i class="iPoint"></i>最新{{typeNameList[type]}}</span><span class="span-more"
          (click)="goMoreMovie(1)">更多</span></div>
      <div class="tb_a">
        <ul class="picTxt picTxtA clearfix" id="data_list">
          <li *ngFor="let latestTop10Movie of latestTop10Movies" (click)="goMovieDetail((latestTop10Movie._id))">
            <div class="con">
              <a title="{{latestTop10Movie.name}}"><img
                  data-src="{{latestTop10Movie.src}}" alt="{{latestTop10Movie.name}}" src="{{latestTop10Movie.src}}"
                  onerror="onerror=null;src='https://gxtstatic.com/xl/statics/img/nopic.gif'"
                  style="width: 158px; height: 159px; display: block;"><span class="sNum"><em
                    class="emScore">{{latestTop10Movie.update_status}}</em></span> <span
                  class="sTit">{{latestTop10Movie.name}}</span> </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

</ion-content>