// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
  margin: 0 auto;
  padding: 0;
  text-align: left;
  position: relative;
  font: 12px/1.5 Arial, \5fae\8f6f\96c5\9ed1;
  background: #f6f6f6;
  color: #666666;
}

ion-toolbar {
  color: "danger";
}

ion-title {
  text-align: center;
}

.movie-detail {
  font-size: 9px;
}

video {
  background-color: #000; //因为有两个白边，所以更改此背景
  width: 100%;
  height: 100%;
}

.movie_img {
  width: 152px;
  height: 102px;
}

.sc-ion-segment-md-h {
  --color-checked: red;
}

.c01 {
  color: #23a7e9;
  width: 400px;
}

.c02 {
  color: #444;
}

.movie-detail-src {
  width: 150px;
  height: 180px;
}

.source_name {
  font-family: "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
  font-weight: normal;
  font-size: 15px;
  color: #23a7e9;
  padding: 0px 0px 4px 0px;
  margin-top: 9px;
  margin-bottom: 0px;
}

.source_type {
  float: left;
  display: inline;
  border: 1px solid #e0e0e0;
  border-radius: 1px 1px 1px 1px;
  margin: 4px 4px 0px 0;
  overflow: hidden;
  text-align: center;
  background: #f1f1f1;
  text-decoration: none;
  padding: 0px 4px;
}

.source_type_active {
  color: #fff;
  background-color: red;
}

.more_movie_type_name {
  display: inline-block;
  color: #444;
  text-decoration: none;
  line-height: 22px;
  height: 22px;
  text-align: center;
  padding: 0 6px;
}

.more_movie_type_name_selected {
  background-color: red;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.MacPlayer {
  background: #000000;
  font-size: 14px;
  color: #f6f6f6;
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow: hidden;
  width: 100%px;
  height: 280px;
}

.MacPlayer a {
  color: #f6f6f6;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.MacPlayer a:active {
  text-decoration: none;
}

.MacPlayer table {
  width: 100%;
  height: 100%;
}

.MacPlayer ul,
li,
h2 {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.MacPlayer #playtop {
  text-align: center;
  height: 20px;
  line-height: 21px;
  font-size: 12px;
}

.MacPlayer #topleft {
  width: 80px;
}

.MacPlayer #topright {
  width: 80px;
}

.MacPlayer #topleft {
  text-align: left;
  padding-left: 5px;
}

.MacPlayer #topright {
  text-align: right;
  padding-right: 5px;
}

.MacPlayer #playleft {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.MacPlayer #playright {
  height: 100%;
  overflow-y: auto;
}

.MacPlayer #rightlist {
  width: 120px;
  overflow: auto;
  scrollbar-face-color: #2c2c2c;
  scrollbar-arrow-color: #ffffff;
  scrollbar-track-color: #a3a3a3;
  scrollbar-highlight-color: #2c2c2c;
  scrollbar-shadow-color: #adadad;
  scrollbar-3dlight-color: #adadad;
  scrollbar-darkshadow-color: #48486c;
  scrollbar-base-color: #fcfcfc;
}

.MacPlayer #rightlist ul {
  clear: both;
  margin: 5px 0px;
}

.MacPlayer #rightlist li {
  height: 21px;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MacPlayer #rightlist li a {
  padding-left: 15px;
  display: block;
  font-size: 12px;
}

.MacPlayer #rightlist h2 {
  cursor: pointer;
  font-size: 13px;
  font-family: "宋体";
  font-weight: normal;
  height: 25px;
  line-height: 25px;
  background: #333333;
  padding-left: 5px;
  margin-bottom: 1px;
}

.MacPlayer #rightlist .h2 {
  color: #666666;
}

.MacPlayer #rightlist .h2_on {
  color: #ffffff;
}

.MacPlayer #rightlist .ul_on {
  display: block;
}

.MacPlayer #rightlist .list_on {
  color: #ff0000;
}

.list-md {
  padding-top: 0px;
  padding-bottom: 0px;
}

video {
  width: 100%;
}

.search-history {
  margin: 0px 0px 0px 15px;
}

.search-history .title {
  color: #999;
  font-size: 16px;
}

.search-history span {
  margin: 0px 4px 4px 0px;
  padding: 8px 15px;
  overflow: hidden;
  border-radius: 2px;
  background-color: #f8f8f8;
  color: #111;
  line-height: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 9px;
}

ion-segment-button {
  font-size: 18px;
}

.mod_a .th_a .sMark i.iPoint {
  background-color: #f04141;
}

.picTxt .con .sTit {
  height: 33px;
}

.span-more {
  float: right;
  margin-right: 18px;
  color: #000000;
  font-size: 18px;
}

.type_list_more ion-segment-button {
  line-height: 54px;
  font-size: 18px;
}

.type_list_more .sc-ion-segment-md-h {
  --color-checked: none;
}

.picTxtA {
  margin-top: 0px;
}

span.sTit {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tab[_ngcontent-loi-c0] {
  font-size: 18px;
}
