<ion-header>
  <ion-toolbar color="danger">
    <ion-title style="text-align: center;">小品</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- 搜索 -->
  <ion-searchbar (click)="goSearchPiece()" placeholder="请输入小品名称"></ion-searchbar>

  <!-- 下拉刷新 -->
<ion-refresher (ionRefresh)="doRefresh($event)">
   <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="松开刷新" refreshingSpinner="circles"
     refreshingText="正在刷新">
   </ion-refresher-content>
 </ion-refresher>
 <!-- 下拉刷新 -->

 <!-- 第一种戏曲分类 -->
 <ion-segment [(ngModel)]="type" scrollable>
    <ion-segment-button  *ngFor="let type of typeList;let i = index" value="{{type}}" (click)="changeType(type)">
      {{type}}
    </ion-segment-button>
  </ion-segment>

  <!-- 第二种戏曲分类 -->
 <ion-segment [(ngModel)]="type2" scrollable>
  <ion-segment-button  *ngFor="let type of type2List;let i = index" value="{{type}}" (click)="changeType2(type)">
    {{type}}
  </ion-segment-button>
</ion-segment>

 <!-- 小品数据 -->
 <section class="main">
  <div id="page">
  </div>
  <div class="mod_a globalPadding">
    <div class="tb_a">
      <ul class="picTxt picTxtA clearfix" id="data_list">
        <li *ngFor="let latestTop10Movie of pieceList" (click)="goPieceDetail((latestTop10Movie._id))">
          <div class="con">
            <a title="{{latestTop10Movie.name}}"><img
                data-src="{{latestTop10Movie.src}}" alt="{{latestTop10Movie.name}}" src="{{latestTop10Movie.src}}"
                onerror="onerror=null;src='http://149.129.94.197:8085/assets/img/load.gif'"
                style="width: 158px; height: 159px; display: block;"> <span
                class="sTit">{{latestTop10Movie.name}}</span> </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

 <!-- 上拉加载更多 -->
 <ion-infinite-scroll (ionInfinite)="doLoadMore($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
<!-- 上拉加载更多 -->

</ion-content>