<th:block th:fragment="head">
    <div class="footer cc1200 clearfix">
        <b>
            免责声明：本站不提供影视资源的存储和下载服务，不参与视频的录制和上传，所有内容均由计算机程序自动收集自各大视频网站，并清晰标注视频来源</br>
            本站仅提供网页查询服务,请购买正版以支持您喜欢的影视作品！如有侵权或不愿您的版权作品出现在本站索引结果中，请联系我们及时删除</br>
            Copyight © 2019 掌上戏曲 版权投诉请附带版权证明发信至：<a href="mailto:weipengweibeibei@163.com?
		subject=版权申诉&body=请输入相关影视资源及其地址">weipengweibeibei@163.com</a>
        </b>
    </div>
    <div class="gotop"><a class="gotopbg" href="javascript:;" title="返回顶部"></a></div>
</th:block>