<th:block th:fragment="head">
    <div class="footer cc1200 clearfix">
        <b><a href="/?m=vod-type-id-1.html" title="电影" target="_blank">电影大全</a>-<a href="/?m=vod-type-id-6.html"
                                                                                   title="电视剧"
                                                                                   target="_blank">电视剧大全</a>-<a
                href="/?m=vod-type-id-13.html" title="综艺" target="_blank">综艺大全</a>-<a href="/?m=vod-type-id-14.html"
                                                                                      title="动漫"
                                                                                      target="_blank">动漫大全</a>-<a
                href="/?m=label-new.html" target="_blank" title="最近更新">最近更新</a>-<a href="/?m=label-hot.html"
                                                                                   target="_blank"
                                                                                   title="排行榜">排行榜</a>-<a
                href="/?m=vod-map.html" target="_blank" title="网站地图">网站地图</a>-<a href="/index.php?m=map-baidu.html"
                                                                                 target="_blank" title="RSS订阅">百度地图</a>-<a
                href="/index.php?m=map-rss.html" target="_blank" title="RSS订阅">RSS订阅</a>-<a href="/?m=label-help.html"
                                                                                            target="_blank"
                                                                                            title="本站帮助">本站帮助</a></br>
            本网站为非赢利性站点，本网站所有内容均来源于互联网相关站点自动搜索采集信息，相关链接已经注明来源。</br>
            Copyright © 2018-2019 掌上影视－永久免费在线观看电影、电视剧、综艺、动漫</br>
        </b>
    </div>
    <div class="gotop"><a class="gotopbg" href="javascript:;" title="返回顶部"></a></div>
</th:block>