<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
        <ion-title style="text-align: center;">输入密码</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding>

    <div>
        <ion-list>
            <ion-item>
                <ion-label floating>用户名</ion-label>
                <ion-input type="text" value="{{userInfo.username}}" readonly="true"></ion-input>
              </ion-item>
          <ion-item>
            <ion-label floating>密码</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>确认密码</ion-label>
            <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
          </ion-item>
        </ion-list>
        <div padding>
          <ion-button ion-button color="danger" block style="border-radius: .5rem;width: 100%;" (click)="register()">完成</ion-button>
        </div>
    </div>

</ion-content>
