<div class="wrapper">
  <section class="main">
    <div class="detailPosterIntro1 globalPadding clearfix" style="height: 100%;">
      <div class="MacPlayer">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td colspan="2">
                <table border="0" cellpadding="0" cellspacing="0" id="playtop">
                  <tbody>
                    <tr>
                      <td id="topleft"><a target="_self" href="javascript:void(0)"
                          onclick="MacPlayer.GoPreUrl()">上一集</a> <a target="_self" href="javascript:void(0)"
                          onclick="MacPlayer.GoNextUrl()">下一集</a></td>
                      <td id="topcc">
                        <div id="topdes" style="height:26px;line-height:26px;overflow:hidden">正在播放：{{movie.name}}
                          {{type.name}}</div>
                      </td>
                      <td id="topright"><a target="_self" href="javascript:void(0)"
                          onclick="MacPlayer.ShowList();return false;">开/关列表</a></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr style="display:none">
              <td colspan="2" id="install" style="display:none"></td>
            </tr>
            <tr>
              <td id="playleft" valign="top"><iframe id="buffer" sandbox="allow-forms allow-scripts" src=""
                  frameborder="0" scrolling="no" width="100%" height="96%"
                  style="position: absolute; z-index: 99998; display: none;"></iframe><iframe width="100%"
                  height="95.6%" [src]="safeUrl"
                  frameborder="0" allowfullscreen=""></iframe></td>
              <td id="playright" valign="top" style="display: none;">
                <div class="rightlist" id="rightlist" style="height:95.6%;">
                  <div *ngFor="let source of movie.sources,let i = index">
                    <div id="main{{i}}" class="h2_on" *ngIf="i == source_index">
                        <h2 (click)="Tabs(i,source_count)">{{source.name}}</h2>
                        <ul id="sub{{i}}" style="display:block">
                          <li *ngFor="let type of source.types,let j = index">
                            <a class="list_on" href="javascript:void(0)" (click)="changeMovieType(i, j)" *ngIf="i == source_index && j ==type_index">{{type.name}}</a>
                            <a href="javascript:void(0)" (click)="changeMovieType(i, j)" *ngIf="i == source_index && j !=type_index">{{type.name}}</a>
                          </li>
                        </ul>
                    </div>
                    <div id="main{{i}}" class="h2" *ngIf="i != source_index">
                        <h2 (click)="Tabs(i,source_count)">{{source.name}}</h2>
                        <ul id="sub{{i}}" style="display: none;">
                          <li *ngFor="let type of source.types,let j = index">
                            <a class="list_on" href="javascript:void(0)" (click)="changeMovieType(i, j)" *ngIf="j ==type_index">{{type.name}}</a>
                            <a href="javascript:void(0)" (click)="changeMovieType(i, j)" *ngIf="j !=type_index">{{type.name}}</a>
                          </li>
                        </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>