<!doctype html>
<html>
<th:block th:insert="../templates/head"></th:block>

<body class="body_0B8Dz72" data-c_tl_id="M_2374a4201a029685f2a5dd7c93a36384">

<th:block th:insert="../templates/navigation"></th:block>

<link rel="stylesheet" href="css/main.css"/>

<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/jquery.cookie.js" type="text/javascript"></script>
<script type="text/javascript" src="js/tbdValidate.js"></script>
<script type="text/javascript" src="js/upload.js"></script>
<script type="text/javascript">
$(function () {
    window.location.href = '/feedback'
});
</script>
</body>
</html>
