<th:block th:fragment="head">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta content="CoolSite360" property="og:site_name">
        <title>掌上 - 为梦想而生，因梦想而美丽</title>
        <meta content="掌上 - 为梦想而生，因梦想而美丽" name="keywords">
        <meta content="掌上 - 为梦想而生，因梦想而美丽"
              name="description">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="renderer" content="webkit">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

        <script>
        coolsite360 = {
            PlayerPlugins: []
        };
        </script>
        <link type="text/css" href="css/global_fonts.css" rel="stylesheet" media="all">
        <link rel="stylesheet" href="css/5aebcfb966fb.css" type="text/css" media="all"/>
        <link rel="stylesheet" href="css/56d0add70247.css" type="text/css"/>


        <link href="js/fakeLoader.min.css" rel="stylesheet">
        <script type="text/javascript" src="js/index_data.js"></script>
        <script type="text/javascript"
                src="js/jquery.min.js"></script>
        <script type="text/javascript"
                src="js/bootstrap.min.js"></script>
        <script src="js/jquery.cookie.js" type="text/javascript"></script>
        <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        (function () {
            _vds.push(['setAccountId', '958334e5a3ed7e2b']);
            (function () {
                var vds = document.createElement('script');
                vds.type = 'text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
        </script>
        <script>
        var system = {
            win: false,
            mac: false,
            xll: false
        };
        //检测平台
        var p = navigator.platform;
        system.win = p.indexOf("Win") == 0;
        system.mac = p.indexOf("Mac") == 0;
        system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
        //跳转语句
        if (!(system.win || system.mac || system.xll)) {//转向电脑界面
            window.location.href = "http://m.grayson.top";
        }
        </script>
        <!--[if lt ie 9]>
        <script type="text/javascript" src="//o3bnyc.creatby.com/coolsite-front-v2/thirdparty_js/html5shiv.js"></script>
        <script type="text/javascript"
                src="//o3bnyc.creatby.com/coolsite-front-v2/thirdparty_js/selectivizr-min.js"></script>
        <script type="text/javascript"
                src="//o3bnyc.creatby.com/coolsite-front-v2/thirdparty_js/respond.src.js"></script>
        <link href="//o3bnyc.creatby.com/coolsite-front-v2/thirdparty_js/respond-proxy.html" id="respond-proxy"
              rel="respond-proxy"/>
        <link href="//o3bnyc.creatby.com/coolsite-front-v2/thirdparty_js/respond.proxy.gif" id="respond-redirect"
              rel="respond-redirect"/>
        <script src="//o3bnyc.creatby.com/coolsite-front-v2/thirdparty_js/respond.proxy.js"></script>
        <![endif]-->
        <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?69f4ad3a2033f929ca0db2677fc65542";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        </script>

    </head>
</th:block>