<!DOCTYPE html>
<html>
<th:block th:insert="../templates/head"></th:block>
<body class="body_0B8Dz72" data-c_tl_id="M_2374a4201a029685f2a5dd7c93a36384">

<th:block th:insert="../templates/navigation"></th:block>

<div class="container-fluid cst_sectionBlock cst_BGtransparent c-section cbsect_804759c9" data-c_tl_id="tl_b21c2499"  id="home">
    <div class="cst_sectionBGwrap c-div cbdiv_bcf86ea7">
        <div class="cst_sectionBG jarallax cst_BGfixed c-div cbdiv_6fcc610a" data-Jarallax='{"type":"scroll"}'
             src="//o3bnyc.creatby.com/coolsite-front-v2/files/4e61062970f80be468386d0b9c288b34.jpg"
             style="background-image: none; background-attachment: scroll; background-size: auto;background-image: url('http://qty83k.creatby.com/materials/origin/e7d50b6e293405c613c9c5ab072e1423_origin.jpg'); ">
            <div class="cst_overlay c-div cbdiv_5ff215e2">
            </div>
        </div>
    </div>
    <div class="container cst_container_base c-container-1 cbcont_2eb4f555" style="height: 600px;">
        <div class="cst_textbox_flex cst_border_shadow_setting c-div cbdiv_3854ab7b">
            <div class="cst_flexitem cst_flexsetting cst_flex_vetically c-div cbdiv_6ac51677">
                <div class="cst_textSetting cst_textWrap c-div cbdiv_6603ce0f">
                    <div class="c-div cbdiv_b68b0436">
                        <h1 class="cst_title c-heading youziku-e094346a5670469eaacd0dcc3afa6f0d cbhead_907ea3fc3">
                            掌 上
                        </h1>
                        <h3 class="cst_title c-heading youziku-e2bd7183c7964246ba556baf875b80b1 cbhead_907ea3fc2">
                            为梦想而生，因梦想而美丽
                        </h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-xs c-div div_EU9lwE">
        </div>
    </div>
</div>
<div class="container-fluid cst_sectionBlock c-section cbsect_77061b8c" data-c_tl_id="tl_bf62f243" id="film">
    <div class="container cst_container_base c-container-1 cbcont_7dd1302d">
        <div class="cst_textbox_flex cst_border_shadow_setting c-div cbdiv_a2025341" data-c_cssani="fadeIn|1|0|0">
            <div class="cst_flexitem cst_flexsetting cst_flex_vetically c-div cbdiv_9bf597eb">
                <div class="cst_textSetting cst_textWrap c-div cbdiv_a69723c0" style="margin-top: 90px">
                    <div class="c-div cbdiv_eb066dce">
                        <h3 class="cst_title c-heading cbhead_2fdd202d">
                            掌上影视
                        </h3>
                        <h2 class="cst_subtitle c-heading youziku-e094346a5670469eaacd0dcc3afa6f0d cbhead_d135b01f">

                            <div>

                            </div>
                        </h2>
                    </div>
                    <p class="cst_description cbpara_99038eda">
                        掌上影视主要包括电影、电视剧、综艺、动漫，为您提供最新最全的影视资源。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid cst_sectionBlock c-section cbsect_fb613e44" data-c_tl_id="tl_21be3555">
    <div class="container cst_container_base cst_w100 c-container-1 cbcont_00fd5b60">
        <a href="http://film.grayson.top" target="_blank">
        <img class="hidden-xs c-image c-hideHolder image_EVaGce 0 animated" data-c_ani_id="ani_a6cd13b59f28de4b"
             data-c_cssani="0|1|0|0" src="images/movie-index.png"
             style="animation-delay: 0s; animation-duration: 1s; opacity: 1; transform-origin: 50% 50%; transform: matrix(1, 0, 0, 1, 0, 0);">
        <img class="hidden-lg hidden-md hidden-sm c-image image_M68Lwk" src="images/movie-index.png">
        </a>
    </div>
</div>
<div class="container-fluid cst_sectionBlock c-section cbsect_2c778907" data-c_tl_id="tl_f2a2e440" id="tv">
    <div class="container cst_container_base c-container-1 cbcont_fa072941">
        <div class="cst_flexitem cst_flexsetting cst_flex_vetically c-div cbdiv_9bf597eb">
            <div class="cst_textSetting cst_textWrap c-div cbdiv_a69723c0">
                <div class="c-div cbdiv_eb066dce">
                    <h3 class="cst_title c-heading cbhead_2fdd202d">
                        掌上电视
                    </h3>
                    <h2 class="cst_subtitle c-heading youziku-e094346a5670469eaacd0dcc3afa6f0d cbhead_d135b01f">
                        <div>
                            <div>

                            </div>

                        </div>
                    </h2>
                </div>
                <p class="cst_description cbpara_99038eda">
                    掌上电视主要包括央视台、卫视台、地方台、港澳台、海外台、轮播台，为您提供高清电视直播。
                </p>
            </div>
        </div>
        <a href="http://tv.grayson.top" target="_blank">
        <img class="hidden-xs c-image c-hideHolder image_Kgdiy1 0 animated" data-c_ani_id="ani_63fd3f73a1d49688"
             data-c_cssani="0|1|0|0" src="images/tv-index.png"
             style="animation-delay: 0s; animation-duration: 1s; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0); transform-origin: 50% 50%;">
        </a>
    </div>
</div>
<div class="container-fluid cst_sectionBlock c-section cbsect_77061b8c" data-c_tl_id="tl_bf62f243" id="drama">
    <div class="container cst_container_base c-container-1 cbcont_7dd1302d">
        <div class="cst_textbox_flex cst_border_shadow_setting c-div cbdiv_a2025341" data-c_cssani="fadeIn|1|0|0">
            <div class="cst_flexitem cst_flexsetting cst_flex_vetically c-div cbdiv_9bf597eb">
                <div class="cst_textSetting cst_textWrap c-div cbdiv_a69723c0">
                    <div class="c-div cbdiv_eb066dce">
                        <h3 class="cst_title c-heading cbhead_2fdd202d">
                            掌上戏曲
                        </h3>
                        <h2 class="cst_subtitle c-heading youziku-e094346a5670469eaacd0dcc3afa6f0d cbhead_d135b01f">

                            <div>

                            </div>
                        </h2>
                    </div>
                    <p class="cst_description cbpara_99038eda">
                        掌上戏曲主要包括京剧、豫剧、曲剧、民间小调、越剧、秦腔等戏曲，为您提供最新的戏曲视听盛宴。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid cst_sectionBlock c-section cbsect_fb613e44" data-c_tl_id="tl_21be3555">
    <div class="container cst_container_base cst_w100 c-container-1 cbcont_00fd5b60">
        <a href="http://drama.grayson.top" target="_blank">
        <img class="hidden-xs c-image c-hideHolder image_EVaGce 0 animated" data-c_ani_id="ani_a6cd13b59f28de4b"
             data-c_cssani="0|1|0|0" src="images/drama-index.png"
             style="animation-delay: 0s; animation-duration: 1s; opacity: 1; transform-origin: 50% 50%; transform: matrix(1, 0, 0, 1, 0, 0);">
        <img class="hidden-lg hidden-md hidden-sm c-image image_M68Lwk" src="images/drama-index.png">
        </a>
    </div>
</div>
<div class="container-fluid cst_sectionBlock c-section cbsect_2c778907" data-c_tl_id="tl_f2a2e440" id="piece">
    <div class="container cst_container_base c-container-1 cbcont_fa072941">
        <div class="cst_flexitem cst_flexsetting cst_flex_vetically c-div cbdiv_9bf597eb">
            <div class="cst_textSetting cst_textWrap c-div cbdiv_a69723c0">
                <div class="c-div cbdiv_eb066dce">
                    <h3 class="cst_title c-heading cbhead_2fdd202d">
                        掌上小品
                    </h3>
                    <h2 class="cst_subtitle c-heading youziku-e094346a5670469eaacd0dcc3afa6f0d cbhead_d135b01f">
                        <div>
                            <div>

                            </div>

                        </div>
                    </h2>
                </div>
                <p class="cst_description cbpara_99038eda">
                    掌上小品主要包括赵家班、郭德纲、德云社等小品，为您在工作学习之余带来欢笑。
                </p>
            </div>
        </div>
        <a href="http://piece.grayson.top" target="_blank">
        <img class="hidden-xs c-image c-hideHolder image_Kgdiy1 0 animated" data-c_ani_id="ani_63fd3f73a1d49688"
             data-c_cssani="0|1|0|0" src="images/piece-index.png"
             style="animation-delay: 0s; animation-duration: 1s; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0); transform-origin: 50% 50%;">
        </a>
    </div>
</div>
<div class="container-fluid cst_sectionBlock cst_BGtransparent c-section cbsect_583801c7" data-c_tl_id="tl_762fb3a6" id="about">
    <div class="cst_sectionBGwrap c-div cbdiv_aea214a4">
        <div class="cst_sectionBG cst_BGfixed jarallax c-div cbdiv_d7b5e72d" data-Jarallax='{"type":"scroll"}'
             style="background-image: url('http://qty83k.creatby.com/materials/origin/3edbb7bc8b0b8cc5f503f2db72d3c70d_origin.jpg'); ">
            <div class="cst_overlay c-div cbdiv_80ae0ec3">
            </div>
        </div>
    </div>
    <div class="container cst_container_base c-container-1 cbcont_5399d25f">
        <div class="cst_flexitem cst_flexsetting cst_flex_vetically c-div cbdiv_9bf597eb">
            <div class="cst_textSetting cst_textWrap c-div cbdiv_a69723c0">
                <div class="c-div cbdiv_eb066dce">
                    <h3 class="cst_title c-heading cbhead_2fdd202d">
                        关于我们
                    </h3>
                    <h2 class="cst_subtitle c-heading youziku-e094346a5670469eaacd0dcc3afa6f0d cbhead_d135b01f">
                        <div>
                        </div>
                        <div>
        <span style="color: inherit; background-color: rgba(0, 0, 0, 0);">
        </span>
                            <br/>
                        </div>
                    </h2>
                </div>
                <p class="cst_description cbpara_99038eda">
                    掌上，最初源于自己的一个梦想，就是想为自己的家人提供最新最全的戏曲；后来，随着时间的发展，这个梦想逐渐扩展到电影、电视剧、小品等方面，逐渐转变为为更多人提供最新最全的影视资源，让大家在工作学习之余得到放松；我本身是一个热爱技术的人，做这些的同时，不仅可以为大家提供方便，同时也可以锻炼自己的技术能力，不断提高自己的技术；掌上，为梦想而生，因梦想而美丽。
                </p>
            </div>
        </div>
        <div class="row c-row row_rE5RTR">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 c-column column_Z4vVhU">
                <a style="min-height: 0px;width: 140px;height: 40px;background-position: 50% 0%;background-size: contain;background-repeat: no-repeat;padding-top: 40px;overflow: hidden;">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 c-column column_an9Icm" style="border-left: 0;">
                <a style="min-height: 0px;width: 180px;height: 30px;background-position: 50% 0%;background-size: contain;background-repeat: no-repeat;white-space: nowrap;padding-top: 30px;overflow: hidden;">
                </a>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid cst_sectionBlock c-section cbsect_58391cab" data-c_tl_id="tl_f31abbc8" id="section852f294d">
    <div class="container cst_container_base c-container-1 cbcont_275a4dcc">
        <p class="c-textlink cbtext_2d299147" style="text-align: center;min-height: 0px;padding-right: 10px;padding-left: 10px;margin-top: 5px;margin-bottom: 5px;color: rgb(201, 201, 201);">
            掌上，为梦想而生，因梦想而美丽 © 2019 <br></p>
    </div>
</div>


<!-- ie8 以下版本提示信息 -->
<!--[if lt ie 8]>
<script type="text/javascript">
window.onload = function () {
    document.getElementById('browser-tip').style.display = "block";
    document.getElementsByTagName('body')[0].style.paddingTop = "50px";
}

function hide() {
    document.getElementById('browser-tip').style.display = "none";
    document.getElementsByTagName('body')[0].style.paddingTop = "0px";
}
</script>
<![endif]-->
<div id="browser-tip"
     style="position:fixed; top:0; left:0; right:0; z-index:9999; height:30px; line-height:33px; padding:10px 0 9px; text-indent:30px; font-size:15px; background:#fcf8e3; border-bottom:1px solid #fbeed5; width:100%;display:none;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            style="display:block; float:right; z-index:9999; line-height:36px; margin-right: 0px;padding:0; font-size:32px; color:#666; box-shadow: 0; text-shadow:none; text-align:center; filter:alpha(opacity=100); -khtml-opacity:1; opacity:1;"
            onclick="hide()">×
    </button>
    <p style="text-align: center;">
        您当前使用的浏览器版本较低，为使您获得更好的操作体验，我们推荐您使用：
        <span style="margin-left:10px;">
      <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target="_blank">
        <img src="//o3bnyc.creatby.com/site-epub360/img/compatible_ie.gif" width="31" height="30"
             alt="Internet Explorer" title="Internet Explorer"></a>
      <a href="http://www.google.com/intl/zh-CN/chrome/" target="_blank">
        <img src="//o3bnyc.creatby.com/site-epub360/img/compatible_chrome.gif" width="31" height="30"
             alt="Google Chrome" title="Google Chrome"></a>
      <a href="http://www.mozilla.org/zh-CN/firefox/new/" target="_blank">
        <img src="//o3bnyc.creatby.com/site-epub360/img/compatible_firefox.gif" width="31" height="30" alt="Firefox"
             title="Firefox"></a>
      <a href="http://support.apple.com/zh_CN/downloads/#safari" target="_blank">
        <img src="//o3bnyc.creatby.com/site-epub360/img/compatible_safari.gif" width="28" height="30" alt="Safari"
             title="Safari"></a>
    </span>
    </p>
</div>


<script>
var page_slug = 'index';
</script>


<script type="text/javascript" src="//o3bnyc.creatby.com/coolsite-front-v2/thirdparty_js/lunr.min.js"></script>
<script type="text/javascript" src="//o3bnyc.creatby.com/coolsite-front-v2/thirdparty_js/headroom.min.js"></script>
<script type="text/javascript"
        src="//o3bnyc.creatby.com/coolsite-front-v2/thirdparty_js/jQuery.headroom.min.js"></script>
<script type="text/javascript" src="//o3bnyc.creatby.com/coolsite-front-v2/thirdparty_js/jarallax.min.js"></script>
<script type="text/javascript"
        src="//o3bnyc.creatby.com/coolsite-front-v2/thirdparty_js/greensock/TweenMax.min.js"></script>
<script type="text/javascript"
        src="//o3bnyc.creatby.com/coolsite-front-v2/thirdparty_js/greensock/plugins/DrawSVGPlugin.min.js"></script>
<script type="text/javascript"
        src="//o3bnyc.creatby.com/coolsite-front-v2/thirdparty_js/greensock/plugins/MorphSVGPlugin.min.js"></script>
<script type="text/javascript" src="//o3bnyc.creatby.com/coolsite-front-v2/thirdparty_js/vue-bundle.min.js"></script>
<script type="text/javascript"
        src="//o3bnyc.creatby.com/coolsite-front-v2/js/vendor_c.bundle.built.530226db.cache.js"></script>
<script type="text/javascript" src="//o3bnyc.creatby.com/coolsite-front-v2/js/pack.built.e5558dd4.cache.js"></script>
<script type="text/javascript" src="//o3bnyc.creatby.com/coolsite-front-v2/js/cst.built.426f7fd1.cache.js"></script>

<script src="//b.coolsite360.com/fakeLoader.js/1.1.0/fakeLoader.min.js"></script>
<script>
$(document).ready(function () {
    $(".fakeloader").fakeLoader({
        timeToHide: 800,
        bgColor: "#434343",
        spinner: "spinner1",
        zIndex: 1100,
    });
    $('div#feedback div.feedback-service').on('click', function () {
        $(this).parents('.feedback-wrap').first().toggleClass('open');
    })
});
</script>


<script type="text/javascript" src="//tajs.qq.com/stats?sId=49910848" charset="UTF-8"></script>
<script>
(function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-54805114-1', 'auto');
ga('send', 'pageview');

var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?463ee3af5ac03c45ec0a65ffa5e593b8";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();
</script>

<!-- Piwik --><!-- 
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.21epub.com/";
    _paq.push(['setTrackerUrl', u+'analytics/']);
    _paq.push(['setSiteId', 'coolsite']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src='//v2static.epub360.com/thirdparty/piwik/piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
-->
<!-- End Piwik Code -->


</body>
</html>
