<!doctype html>
<html>
<th:block th:insert="../templates/head"></th:block>

<body class="body_0B8Dz72" data-c_tl_id="M_2374a4201a029685f2a5dd7c93a36384">

<th:block th:insert="../templates/navigation"></th:block>

<div class="container-fluid cst_sectionBlock cst_BGtransparent c-section cbsect_804759c9" data-c_tl_id="tl_b21c2499"
     id="home">
    <div class="cst_sectionBGwrap c-div cbdiv_bcf86ea7">
        <div class="cst_sectionBG jarallax cst_BGfixed c-div cbdiv_6fcc610a" data-Jarallax='{"type":"scroll"}'
             src="//o3bnyc.creatby.com/coolsite-front-v2/files/4e61062970f80be468386d0b9c288b34.jpg"
             style="background-image: none; background-attachment: scroll; background-size: auto;background-image: url('http://qty83k.creatby.com/materials/origin/e7d50b6e293405c613c9c5ab072e1423_origin.jpg'); ">
            <div class="cst_overlay c-div cbdiv_5ff215e2">
            </div>
        </div>
    </div>
    <div class="container cst_container_base c-container-1 cbcont_2eb4f555" style="height: 600px;">
        <div class="cst_textbox_flex cst_border_shadow_setting c-div cbdiv_3854ab7b">
            <div class="cst_flexitem cst_flexsetting cst_flex_vetically c-div cbdiv_6ac51677">
                <div class="cst_textSetting cst_textWrap c-div cbdiv_6603ce0f">
                    <div class="c-div cbdiv_b68b0436">
                        <div class="register-box">
                            <div class="wrap">
                                <div class="register-box-cen">
                                    <div class="register-box-cen-form clearfix mar-bottom20">
                                        <input type="text" class="login-box-cen-form-input w358" placeholder="设置用户名"
                                               id="reg_name"/>
                                        <label class="err err-top40" id="reg_name_text">用户名错误</label>
                                    </div>
                                    <div class="register-box-cen-form clearfix mar-bottom20">
                                        <input type="password" class="login-box-cen-form-input w358" placeholder="设置登录密码"
                                               id="reg_password"/>
                                        <label class="err err-top40" id="reg_password_text">密码错误</label>
                                    </div>
                                    <div class="register-box-cen-form clearfix mar-bottom20">
                                        <input type="password" class="login-box-cen-form-input w358" placeholder="确认登录密码"
                                               id="confirm_reg_password"/>
                                        <label class="err err-top40" id="confirm_reg_password_text">确认密码错误</label>
                                    </div>
                                    <div class="register-box-cen-form clearfix mar-bottom20">
                                        <input type="text" class="login-box-cen-form-input w358" placeholder="请输入手机号"
                                               id="reg_phone"/>
                                        <label class="err err-top40" id="reg_phone_text">手机号错误</label>
                                    </div>
                                    <div class="register-box-cen-form clearfix mar-bottom20">
                                        <input type="text" class="login-box-cen-form-input w228" placeholder="短信验证码"
                                               id="reg_mescode"/>
                                        <button class="login-box-cen-form-mes w120 mar-left10" id="reg_mescode_btn"
                                                able="able">获取验证码
                                        </button>
                                        <label class="err err-top40" id="reg_mescode_text">短信验证码错误</label>
                                    </div>
                                    <div class="register-box-cen-form clearfix">
                                        <input type="submit" value="注册" class="login-box-cen-form-button w380"
                                               id="reg_submit"/>
                                    </div>
                                    <br>
                                    <div class="register-box-cen-form clearfix">
                                        <input type="input" value="已有账户，点击登录" class="login-box-cen-form-button w380" onclick="location.href='/login'" style="background: #33454e;border: none;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-xs c-div div_EU9lwE">
        </div>
    </div>
</div>

<link rel="stylesheet" href="css/main.css"/>

<!--中心-->
<div class="content">
</div>
<br/><br/>
<!--中心-->
<h4 style="font-size:16px; text-align:center; font-weight:bold;">demo3 必填+特殊处理</h4>
<br/><br/>
<!--中心-->
<div class="content">
</div>

<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/jquery.cookie.js" type="text/javascript"></script>
<script type="text/javascript" src="js/tbdValidate.js"></script>
<script type="text/javascript" src="js/upload.js"></script>
<script type="text/javascript">
$(function () {

    //  如果 cookie 中已存在用户信息，则返回首页
    if ($.cookie('userInfo') != null && $.cookie('userInfo') != 'null') window.location.href = '/';

    var mesdong = null;
    var mestime = 60;
    var phoneval = $.trim($("#reg_phone").val());
    // var HOST = 'http://api.grayson.top'
    var HOST = 'http://103.45.172.213:9000'
    var API = HOST + '/api'
    var message = ''

    //注册
    var regconfig = [
        {
            eleinput: "reg_name",
            eletext: "reg_name_text",
            rule: [{reg: /^.+$/, text: '用户名不能为空'}]
        },
        {
            eleinput: "reg_password",
            eletext: "reg_password_text",
            rule: [{reg: /^.+$/, text: '密码不能为空'}, {reg: /^.{6,10}$/, text: '密码在6-10位之间'}]
        },
        {
            eleinput: "confirm_reg_password",
            eletext: "confirm_reg_password_text",
            rule: [{reg: /^.+$/, text: '确认密码不能为空'}]
        },
        {
            eleinput: "reg_phone",
            eletext: "reg_phone_text",
            rule: [{reg: /^.+$/, text: '手机号不能为空'}, {reg: /^1[34578]\d{9}$/, text: '手机号格式错误'}]
        },
        {
            eleinput: "reg_mescode",
            eletext: "reg_mescode_text",
            rule: [{reg: /^.+$/, text: '短信验证码不能为空'}, {reg: /^[0-9]{6}$/, text: '输入6位短信验证码'}]
        }
    ];

    //获取短信验证码
    $("#reg_mescode_btn").click(function () {
        if (regconfig[3].rule[0].reg.test(phoneval)) {
            $("#reg_phone_text").hide();
        } else {
            $("#reg_phone_text").html(regconfig[3].rule[0].text).show();
            $("#reg_phone").focus();
            return false
        }
        ;
        if (regconfig[3].rule[1].reg.test(phoneval)) {
            $("#reg_phone_text").hide();
        } else {
            $("#reg_phone").focus();
            $("#reg_phone_text").html(regconfig[3].rule[1].text).show();
            return false
        }
        ;
        if ($(this).attr('able') == "able") {//发送
            $(this).attr('able', "disable");
            $(this).css('cursor', 'not-allowed');
            $(this).html(mestime + "s");
            mesdong = setInterval(function () {//倒计时
                mestime -= 1;
                if (mestime < 0) {
                    $("#reg_mescode_btn").attr('able', "able");
                    $("#reg_mescode_btn").css('cursor', 'pointer');
                    $("#reg_mescode_btn").html('获取验证码');
                    mestime = 60;
                    clearInterval(mesdong);
                } else {
                    $("#reg_mescode_btn").html(mestime + "s");
                }
                ;
            }, 1000);
            //短信发送接口
            $.ajax({
                type: 'GET',
                url: API + '/user/message/code/generate',
                dataType: 'json',
                success: function (data) {
                    if (data.code == 0) {
                        var code = data.messageCode
                        $.ajax({
                            type: 'POST',
                            url: API + '/user/message/code/send',
                            data: {
                                mobile: phoneval,
                                code: code
                            },
                            dataType: 'json',
                            success: function (data) {
                                if (data.code == 0) {
                                    if (data.code == 0) {
                                        $.ajax({
                                            type: 'POST',
                                            url: API + '/user/message/code/add',
                                            data: {
                                                mobile: phoneval,
                                                code: code
                                            },
                                            dataType: 'json',
                                            success: function (data) {
                                            }
                                        });
                                    }
                                }
                            }
                        });
                    }
                }
            });
        } else {

        }
        ;
    });

    tbdValidate(
        regconfig,
        {
            elesubmit: "reg_submit",//提交按钮
            funsubmit: function () {//验证通过可提交回调
                var style = $('#reg_name_text').attr('style');
                var style2 = $('#confirm_reg_password_text').attr('style');
                var style3 = $('#reg_phone_text').attr('style');
                var username = $('#reg_name').val();
                var password = $('#reg_password').val();
                if (style == 'display: none;' && style2 == style && style3 == style) {
                    var code = $('#reg_mescode').val();
                    $.ajax({
                        type: 'GET',
                        url: API + '/user/message/code/validate',
                        data: {
                            mobile: phoneval,
                            code: code
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.code == 0) {
                                $.ajax({
                                    type: 'POST',
                                    url: API + '/user/register',
                                    data: {
                                        username: username,
                                        password: password,
                                        mobile: phoneval,
                                    },
                                    dataType: 'json',
                                    success: function (data) {
                                        if (data.code == 0) {
                                            //  用户名已注册
                                            var userInfoTemp = data.userInfo
                                            var userInfo = {'_id': userInfoTemp._id, 'username': userInfoTemp.username};
                                            $.cookie("userInfo", JSON.stringify(userInfo), {
                                                expires:7, //设置时间，单位为天，如果此处留空，则浏览器关闭此cookie就失效。
                                                domain: '.grayson.top'
                                            });
                                            history.back(-1);
                                        }
                                    }
                                });
                            }
                        }
                    });
                }
            },
            funerr: function () {//不可提交回调

            },
            funerrlist: function (errlist) {
                $('#' + errlist[0]).focus();
            }
        }
    );

    //  判断用户名是否被注册
    $("#reg_name").blur(function () {
        phoneval = $.trim($("#reg_name").val());
        if (phoneval != '') {
            $.ajax({
                type: 'POST',
                url: API + '/user/register/validate_username',
                data: {
                    username: phoneval
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == 1) {
                        //  用户名已注册
                        message = data.message;
                        $('#reg_name_text').html(message).show();
                    }
                }
            });
        }
    });

    //  判断两次输入的密码是否相同
    $("#confirm_reg_password").blur(function () {
        var val = $.trim($("#reg_password").val());
        var val2 = $.trim($("#confirm_reg_password").val());
        if (val2 != val) {
            $('#confirm_reg_password_text').html('两次输入的密码不一致').show();
        }
    });

    //  判断手机号是否被注册
    $("#reg_phone").blur(function () {
        phoneval = $.trim($("#reg_phone").val());
        if (phoneval != '') {
            $.ajax({
                type: 'POST',
                url: API + '/user/register/validate_mobile',
                data: {
                    mobile: phoneval
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == 1) {
                        //  用户名已注册
                        message = data.message;
                        $('#reg_phone_text').html(message).show();
                    }
                }
            });
        }
    });
    //end
});
</script>
</body>
</html>
