<ion-header>
  <ion-toolbar color="danger">
    <ion-title style="text-align: center;">电视</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- 搜索 -->
  <ion-searchbar (click)="goSearchTv()" placeholder="请输入电视名称"></ion-searchbar>

  <!-- 下拉刷新 -->
<ion-refresher (ionRefresh)="doRefresh($event)">
   <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="松开刷新" refreshingSpinner="circles"
     refreshingText="正在刷新">
   </ion-refresher-content>
 </ion-refresher>
 <!-- 下拉刷新 -->

 <!-- 推荐数据 -->
 <!-- 推荐数据 -->
 <section class="main">
  <div id="page">
  </div>

  <!-- 央视台 -->
  <div class="mod_a globalPadding">
    <div class="th_a"><span class="sMark"><i class="iPoint"></i>央视台</span><span class="span-more"
        (click)="goMoreTv(cctvName)">更多</span></div>
    <div class="tb_a">
      <ul class="picTxt picTxtA clearfix" id="data_list">
        <li *ngFor="let latestTop10Movie of top10CCTVList" (click)="goTvDetail(top10CCTV2._id)">
          <div class="con">
            <a title="{{latestTop10Movie.name}}"><img
                data-src="{{latestTop10Movie.src}}" alt="{{latestTop10Movie.name}}" src="{{latestTop10Movie.src}}"
                onerror="onerror=null;src='https://gxtstatic.com/xl/statics/img/nopic.gif'"
                style="width: 158px; height: 159px; display: block;"><span
                class="sTit">{{latestTop10Movie.name}}</span> </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- 卫视台 -->
  <div class="mod_a globalPadding">
    <div class="th_a"><span class="sMark"><i class="iPoint"></i>卫视台</span><span class="span-more"
        (click)="goMoreTv(localStationName)">更多</span></div>
    <div class="tb_a">
      <ul class="picTxt picTxtA clearfix" id="data_list">
        <li *ngFor="let latestTop10Movie of top10SatelliteList" (click)="goTvDetail(top10CCTV2._id)">
          <div class="con">
            <a title="{{latestTop10Movie.name}}"><img
                data-src="{{latestTop10Movie.src}}" alt="{{latestTop10Movie.name}}" src="{{latestTop10Movie.src}}"
                onerror="onerror=null;src='https://gxtstatic.com/xl/statics/img/nopic.gif'"
                style="width: 158px; height: 159px; display: block;"><span
                class="sTit">{{latestTop10Movie.name}}</span> </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- 地方台 -->
  <div class="mod_a globalPadding">
    <div class="th_a"><span class="sMark"><i class="iPoint"></i>地方台</span><span class="span-more"
        (click)="goMoreTv(localStationName)">更多</span></div>
    <div class="tb_a">
      <ul class="picTxt picTxtA clearfix" id="data_list">
        <li *ngFor="let latestTop10Movie of top10LocalStationList" (click)="goTvDetail(top10CCTV2._id)">
          <div class="con">
            <a title="{{latestTop10Movie.name}}"><img
                data-src="{{latestTop10Movie.src}}" alt="{{latestTop10Movie.name}}" src="{{latestTop10Movie.src}}"
                onerror="onerror=null;src='https://gxtstatic.com/xl/statics/img/nopic.gif'"
                style="width: 158px; height: 159px; display: block;"><span
                class="sTit">{{latestTop10Movie.name}}</span> </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- 港澳台 -->
  <div class="mod_a globalPadding">
    <div class="th_a"><span class="sMark"><i class="iPoint"></i>港澳台</span><span class="span-more"
        (click)="goMoreTv(hongkongMacaoTaiwanName)">更多</span></div>
    <div class="tb_a">
      <ul class="picTxt picTxtA clearfix" id="data_list">
        <li *ngFor="let latestTop10Movie of top10hongkongMacaoTaiwanList" (click)="goTvDetail(top10CCTV2._id)">
          <div class="con">
            <a title="{{latestTop10Movie.name}}"><img
                data-src="{{latestTop10Movie.src}}" alt="{{latestTop10Movie.name}}" src="{{latestTop10Movie.src}}"
                onerror="onerror=null;src='https://gxtstatic.com/xl/statics/img/nopic.gif'"
                style="width: 158px; height: 159px; display: block;"><span
                class="sTit">{{latestTop10Movie.name}}</span> </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- 海外台 -->
  <div class="mod_a globalPadding">
    <div class="th_a"><span class="sMark"><i class="iPoint"></i>海外台</span><span class="span-more"
        (click)="goMoreTv(overseasStationName)">更多</span></div>
    <div class="tb_a">
      <ul class="picTxt picTxtA clearfix" id="data_list">
        <li *ngFor="let latestTop10Movie of top10overseasStationList" (click)="goTvDetail(top10CCTV2._id)">
          <div class="con">
            <a title="{{latestTop10Movie.name}}"><img
                data-src="{{latestTop10Movie.src}}" alt="{{latestTop10Movie.name}}" src="{{latestTop10Movie.src}}"
                onerror="onerror=null;src='https://gxtstatic.com/xl/statics/img/nopic.gif'"
                style="width: 158px; height: 159px; display: block;"><span
                class="sTit">{{latestTop10Movie.name}}</span> </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- 轮播台 -->
  <div class="mod_a globalPadding">
    <div class="th_a"><span class="sMark"><i class="iPoint"></i>轮播台</span><span class="span-more"
        (click)="goMoreTv(carouselName)">更多</span></div>
    <div class="tb_a">
      <ul class="picTxt picTxtA clearfix" id="data_list">
        <li *ngFor="let latestTop10Movie of top10CarouselList" (click)="goTvDetail(top10CCTV2._id)">
          <div class="con">
            <a title="{{latestTop10Movie.name}}"><img
                data-src="{{latestTop10Movie.src}}" alt="{{latestTop10Movie.name}}" src="{{latestTop10Movie.src}}"
                onerror="onerror=null;src='https://gxtstatic.com/xl/statics/img/nopic.gif'"
                style="width: 158px; height: 159px; display: block;"><span
                class="sTit">{{latestTop10Movie.name}}</span> </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

</ion-content>
