<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: center;">关于掌上影视</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

  <div style="text-align: center"><img src="../../assets/img/PocketFilm_Icon_Circle.png" alt="" width="100px" height="100px"></div>
  <div style="font-size: 18px">
    <h3>一、简介</h3>
    <div>掌上影视是由Grayson开发的，目的是为大家提供最新最全的影视信息，主要包括影视、电视、戏曲、小品四个模块。</div>
    <div>影视模块：影视模块主要包括电影、电视剧、综艺、动漫四个方面，为大家提供丰富的影视信息。</div>
    <div>电视模块：电视模块主要包括央视台、卫视台、地方台、港澳台、海外台、轮播台六个方面，可以为大家提供不一样的电视体验。</div>
    <div>戏曲模块：戏曲模块主要包括京剧、豫剧、越剧、秦腔、昆曲、潮剧...等众多方面，面向中老年人，让中老年人也可以向青年人一样，用手机更方面的去看自己感兴趣的东西。</div>
    <div>小品模块：小品模块主要包括赵家班、郭德纲、德云社、相声大全、二人转、曲艺大全...等众多笑星的作品，让大家在百忙中在小品的世界中得以放松。</div>
    <h3>二、版本信息</h3>
    <div>当前版本：{{version.version_number}}</div>
    <div>更新时间：{{version.update_time}}</div>
    <h3>三、免责声明</h3>
    <div>本app不提供影视资源的存储和下载服务，不参与视频的录制和上传，所有内容均由计算机程序自动收集自各大视频网站，并清晰标注视频来源。</div>
    <div>本app仅提供网页查询服务,请购买正版以支持您喜欢的影视作品！如有侵权或不愿您的版权作品出现在本站索引结果中，请联系我们及时删除。</div>
    <h3>四、联系方式</h3>
    <div>QQ：1093579950</div>
    <div>Mail：weipengweibeibei@163.com</div>
  </div>

</ion-content>
