<th:block th:fragment="head">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta content="CoolSite360" property="og:site_name">
        <title>Grayson's Album - Record the beauty of life with camera</title>
        <meta content="Grayson's Album - Record the beauty of life with camera" name="keywords">
        <meta content="Grayson's Album - Record the beauty of life with camera" name="description">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="renderer" content="webkit">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

        <script>
        coolsite360 = {
            PlayerPlugins: []
        };
        </script>
        <link type="text/css" href="css/global_fonts.css" rel="stylesheet" media="all">
        <link rel="stylesheet" href="css/5aebcfb966fb.css" type="text/css" media="all"/>
        <link rel="stylesheet" href="css/56d0add70247.css" type="text/css"/>


        <link href="js/fakeLoader.min.css" rel="stylesheet">
        <script type="text/javascript" src="js/index_data.js"></script>
        <script type="text/javascript"
                src="js/jquery.min.js"></script>
        <script type="text/javascript"
                src="js/bootstrap.min.js"></script>
        <script src="js/jquery.cookie.js" type="text/javascript"></script>
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <script type="text/javascript" src="js/bundle.js"></script>
        <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
        </script>
        <script>
        var system = {
            win: false,
            mac: false,
            xll: false
        };
        //检测平台
        var p = navigator.platform;
        system.win = p.indexOf("Win") == 0;
        system.mac = p.indexOf("Mac") == 0;
        system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
        //跳转语句
        if (!(system.win || system.mac || system.xll)) {//转向电脑界面
            window.location.href = "http://m.grayson.top";
        }
        </script>
        <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?c821830cd6a3437119ac1f0a71d67f73";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        </script>
        <style type="text/css">
            .leaveNavInfo {
                padding-top: 0
            }

            .header-all {
                position: relative;
            }
        </style>
    </head>
</th:block>