<ion-header>
  <ion-toolbar color="danger">
    <ion-back-button defaultHref="/" slot="start"></ion-back-button>
    <ion-title style="text-align: center;">影视搜索</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <!-- 搜索 -->
  <div>
    <table style="width: 100%;">
      <tr>
        <td>
          <ion-searchbar (ionInput)="searchMovies($event)" placeholder="请输入影视或演员名称" [value]="keyWord"></ion-searchbar>
        </td>
        <td>
          <ion-button color="danger" (click)="doSearch()">搜索</ion-button>
        </td>
      </tr>
    </table>
  </div>

  <!-- 搜索记录 -->
  <ion-list class="search-history" *ngIf="history">
    <ion-label class="title">历史记录</ion-label>
    <div>
      <span *ngFor="let search of searchList"
        (click)="searchMoviesWithSearchHistory(search.key_word)">{{search.key_word}}</span>&nbsp;&nbsp;
    </div>
  </ion-list>

  <!-- 搜索时显示的结果 -->
  <ion-list *ngIf="!search">
    <ion-item *ngFor="let movie of movieList" (click)="goMovieDetail(movie._id)">
      <ion-thumbnail slot="start" class="ios hydrated">
        <img src="{{movie.src}}" onerror="onerror=null;src='http://149.129.94.197:8085/assets/img/load.gif'">
      </ion-thumbnail>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>{{movie.name}}</h2>
        <h3>{{movie.type}}&nbsp;&nbsp;{{movie.type2}}</h3>
        <p>{{movie.update_status}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- 搜索后显示的结果 -->
  <section class="main" *ngIf="search">
    <div id="page">
    </div>
    <div class="mod_a globalPadding">
      <div class="tb_a">
        <ul class="picTxt picTxtA clearfix" id="data_list">
          <li *ngFor="let latestTop10Movie of movieList" (click)="goMovieDetail((latestTop10Movie._id))">
            <div class="con">
              <a title="{{latestTop10Movie.name}}"><img data-src="{{latestTop10Movie.src}}"
                  alt="{{latestTop10Movie.name}}" src="{{latestTop10Movie.src}}"
                  onerror="onerror=null;src='http://149.129.94.197:8085/assets/img/load.gif'"
                  style="width: 158px; height: 159px; display: block;"><span class="sNum"><em
                    class="emScore">{{latestTop10Movie.update_status}}</em></span> <span
                  class="sTit">{{latestTop10Movie.name}}</span> </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- 上拉加载更多 -->
  <ion-infinite-scroll (ionInfinite)="doLoadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- 上拉加载更多 -->

</ion-content>