<th:block th:fragment="head">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="applicable-device" content="pc,mobile">
    <title th:text="${title}"></title>
    <meta name="keywords" th:content="${title}"/>
    <meta name="description" th:content="${title}"/>
    <link href="http://5nj.com/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="canonical" href="http://www.5nj.com/?m=vod-play-id-136507-src-1-num-1.html"/>
    <link href="http://5nj.com/template/Datll/css/style.css" rel="stylesheet">
    <link href="http://5nj.com/template/Datll/css/CSS3style.css" rel="stylesheet">
    <link href="http://5nj.com/template/Datll/css/artstyle.css" rel="stylesheet">
    <script>var SitePath = '/', SiteAid = '17', SiteTid = '7', SiteId = '136507';</script>
    <script src="http://5nj.com/template/Datll/js/jquery-1.4.4.min.js"></script>
    <script src="http://5nj.com/template/Datll/js/common.js"></script>
    <script src="http://5nj.com/template/Datll/js/function.js"></script>
    <script src="http://5nj.com/template/Datll/js/jquery.lazyload.js"></script>
    <script src="http://5nj.com/template/Datll/js/jquery.superslide.js" type="text/javascript"></script>
    <script src="http://5nj.com/template/Datll/js/home.js"></script>
    <script src="/js/jq/jquery.autocomplete.js"></script>
    <!--[if lt IE 9]>
    <script src="http://5nj.com/template/Datll/js/html5shiv.min.js"></script>
    <script src="http://5nj.com/template/Datll/js/respond.min.js"></script>
    <![endif]-->
    <script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>
    <script>MAC.History.Insert("激情的岁月", "/?m=vod-play-id-136507-src-1-num-1.html", "国产剧", "/?m=vod-type-id--pg-1.html", "//api.97bike.com/pic.php?url=https://pic1.iqiyipic.com/image/20190923/6e/b6/a_100345114_m_601_m1_260_360.jpg", "1");</script>
    <script type="text/javascript" src="http://5nj.com/template/Datll/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="http://5nj.com/template/Datll/js/iscroll.js"></script>
    <script type="text/javascript" src="http://5nj.com/template/Datll/js/navbarscroll.js"></script>
    <style type="text/css">
        .leaveNavInfo {
            padding-top: 0
        }

        .header-all {
            position: relative;
        }
    </style>
</head>
</th:block>