<th:block th:fragment="main">
    <div class="index-area clearfix">
        <h3 class="title index-color">
	<span class="hitkey kp">
	<a href="/more?type=央视台">更多»</a>
	</span>
            <a href="/more?type=央视台">&nbsp;央视台</a>
        </h3>
        <ul>
            <div class="qcontainer" th:each="movie : ${movies0}">
                <div class="film">
                    <div class="face front">
                        <li class="p2 MPli"><a class="link-hover" target="_blank"
                                               th:href="'/play?_id=' + ${movie._id} + '&source_index=0'"
                                               th:title="${movie.name}"><img class="lazy"
                                                                             th:data-original="${movie.src}"
                                                                             src="http://5nj.com/template/Datll/images/load.gif"
                                                                             th:alt="${movie.name}">
                            <span class="index5njcom titletj5nj">
						<i th:text="${movie.name}"></i>
					</span>
                        </a>
                        </li>
                    </div>
                    <div class="face back">
                        <li class="p2 MPli"><a class="link-hover" target="_blank"
                                               th:href="'/play?_id=' + ${movie._id} + '&source_index=0'"
                                               th:title="${movie.name}"><img class="lazy"
                                                                             th:data-original="${movie.src}"
                                                                             src="http://5nj.com/template/Datll/images/load.gif"
                                                                             th:alt="${movie.name}">
                            <span class="video-bg"></span>
                            <span class="lzbz">
						<p class="name" th:text="${movie.name}"></p>
						<p class="actor" th:text="${movie.type}">
						</p>
						</span>
                            <p class="other">
                                <i></i>
                            </p>
                        </a>
                        </li>
                    </div>
                </div>
            </div>
        </ul>
    </div>

    <div class="index-area clearfix">
        <h3 class="title index-color">
	<span class="hitkey kp">
	<a href="/more?type=卫视台">更多»</a>
	</span>
            <a href="/more?type=卫视台">&nbsp;卫视台</a>
        </h3>
        <ul>
            <div class="qcontainer" th:each="movie : ${movies1}">
                <div class="film">
                    <div class="face front">
                        <li class="p2 MPli"><a class="link-hover" target="_blank"
                                               th:href="'/play?_id=' + ${movie._id} + '&source_index=0'"
                                               th:title="${movie.name}"><img class="lazy"
                                                                             th:data-original="${movie.src}"
                                                                             src="http://5nj.com/template/Datll/images/load.gif"
                                                                             th:alt="${movie.name}">
                            <span class="index5njcom titletj5nj">
						<i th:text="${movie.name}"></i>
					</span>
                        </a>
                        </li>
                    </div>
                    <div class="face back">
                        <li class="p2 MPli"><a class="link-hover" target="_blank"
                                               th:href="'/play?_id=' + ${movie._id} + '&source_index=0'"
                                               th:title="${movie.name}"><img class="lazy"
                                                                             th:data-original="${movie.src}"
                                                                             src="http://5nj.com/template/Datll/images/load.gif"
                                                                             th:alt="${movie.name}">
                            <span class="video-bg"></span>
                            <span class="lzbz">
						<p class="name" th:text="${movie.name}"></p>
						<p class="actor" th:text="${movie.type}">
						</p>
						</span>
                            <p class="other">
                                <i></i>
                            </p>
                        </a>
                        </li>
                    </div>
                </div>
            </div>
        </ul>
    </div>

    <div class="index-area clearfix">
        <h3 class="title index-color">
	<span class="hitkey kp">
	<a href="/more?type=地方台">更多»</a>
	</span>
            <a href="/more?type=地方台">&nbsp;地方台</a>
        </h3>
        <ul>
            <div class="qcontainer" th:each="movie : ${movies2}">
                <div class="film">
                    <div class="face front">
                        <li class="p2 MPli"><a class="link-hover" target="_blank"
                                               th:href="'/play?_id=' + ${movie._id} + '&source_index=0'"
                                               th:title="${movie.name}"><img class="lazy"
                                                                             th:data-original="${movie.src}"
                                                                             src="http://5nj.com/template/Datll/images/load.gif"
                                                                             th:alt="${movie.name}">
                            <span class="index5njcom titletj5nj">
						<i th:text="${movie.name}"></i>
					</span>
                        </a>
                        </li>
                    </div>
                    <div class="face back">
                        <li class="p2 MPli"><a class="link-hover" target="_blank"
                                               th:href="'/play?_id=' + ${movie._id} + '&source_index=0'"
                                               th:title="${movie.name}"><img class="lazy"
                                                                             th:data-original="${movie.src}"
                                                                             src="http://5nj.com/template/Datll/images/load.gif"
                                                                             th:alt="${movie.name}">
                            <span class="video-bg"></span>
                            <span class="lzbz">
						<p class="name" th:text="${movie.name}"></p>
						<p class="actor" th:text="${movie.type}">
						</p>
						</span>
                            <p class="other">
                                <i></i>
                            </p>
                        </a>
                        </li>
                    </div>
                </div>
            </div>
        </ul>
    </div>

    <div class="index-area clearfix">
        <h3 class="title index-color">
	<span class="hitkey kp">
	<a href="/more?type=港澳台">更多»</a>
	</span>
            <a href="/more?type=港澳台">&nbsp;港澳台</a>
        </h3>
        <ul>
            <div class="qcontainer" th:each="movie : ${movies3}">
                <div class="film">
                    <div class="face front">
                        <li class="p2 MPli"><a class="link-hover" target="_blank"
                                               th:href="'/play?_id=' + ${movie._id} + '&source_index=0'"
                                               th:title="${movie.name}"><img class="lazy"
                                                                             th:data-original="${movie.src}"
                                                                             src="http://5nj.com/template/Datll/images/load.gif"
                                                                             th:alt="${movie.name}">
                            <span class="index5njcom titletj5nj">
						<i th:text="${movie.name}"></i>
					</span>
                        </a>
                        </li>
                    </div>
                    <div class="face back">
                        <li class="p2 MPli"><a class="link-hover" target="_blank"
                                               th:href="'/play?_id=' + ${movie._id} + '&source_index=0'"
                                               th:title="${movie.name}"><img class="lazy"
                                                                             th:data-original="${movie.src}"
                                                                             src="http://5nj.com/template/Datll/images/load.gif"
                                                                             th:alt="${movie.name}">
                            <span class="video-bg"></span>
                            <span class="lzbz">
						<p class="name" th:text="${movie.name}"></p>
						<p class="actor" th:text="${movie.type}">
						</p>
						</span>
                            <p class="other">
                                <i></i>
                            </p>
                        </a>
                        </li>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</th:block>