<!DOCTYPE html>
<html lang="zh-CN">
<th:block th:insert="../templates/head"></th:block>
<body>

<th:block th:insert="../templates/navigation"></th:block>

<div class="main kongbai">
    <div class="sy-all mb clearfix">
        <div class="sy-title clearfix">
            <p class="type">
                <span class="type"><a href='/'>首页</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a
                        href='/?m=vod-type-id-1.html' th:text="${type}"></a></span>
            </p>
            <p class="chg sbtn" _s_nav="sj-gjsy">收起<i class="sjbgs"></i><i class="sjbgx"></i></p>
        </div>
        <div class="clearfix">
            <div id="sj-gjsy" class="sy clearfix" _s_nav="sj-gjsy">
                <dl class="clearfix" th:each="movieType, movieTypeStat : ${movieTypes}">
                    <div th:each="movieType2, movieType2Stat : ${movieType}">
                    <dt th:if="${movieType2Stat.index eq 0}"><span th:text="${movieType2} + ':&nbsp;'"></span></dt>
                        <dd th:if="${movieTypeStat.index eq 0 && movieType2Stat.index eq 1 && movieType2 eq type}">
                            <a th:href="'/more?type='+${movieType2}+'&selected_type='+${movieType2}+'&key_word='+${key_word}+''"
                               class="on" th:text="${movieType2}"></a>
                        </dd>
                        <dd th:if="${movieTypeStat.index eq 0 && movieType2Stat.index eq 1 && movieType2 ne type}">
                            <a th:href="'/more?type='+${movieType2}+'&selected_type='+${movieType2}+'&key_word='+${key_word}+''" th:text="${movieType2}"></a>
                        </dd>
                        <dd th:if="${movieTypeStat.index eq 1 && movieType2Stat.index eq 1 && movieType2 eq selected_type}">
                            <a th:href="'/more?type='+${movieType2}+'&selected_type='+${movieType2}+'&key_word='+${key_word}+''"
                               class="on" th:text="${movieType2}"></a>
                        </dd>
                        <dd th:if="${movieTypeStat.index eq 1 && movieType2Stat.index eq 1 && movieType2 ne selected_type}">
                            <a th:href="'/more?type='+${movieType2}+'&selected_type='+${movieType2}+'&key_word='+${key_word}+''" th:text="${movieType2}"></a>
                        </dd>
                        <dd th:if="${movieTypeStat.index eq 0 && movieType2Stat.index gt 1 && movieType2 eq type}">
                            <a th:href="'/more?type='+${movieType2}+'&selected_type='+${selected_type}+'&key_word='+${key_word}+''"
                               class="on" th:text="${movieType2}"></a>
                        </dd>
                        <dd th:if="${movieTypeStat.index eq 0 && movieType2Stat.index gt 1 && movieType2 ne type}">
                            <a th:href="'/more?type='+${movieType2}+'&selected_type='+${selected_type}+'&key_word='+${key_word}+''"th:text="${movieType2}"></a>
                        </dd>
                        <dd th:if="${movieTypeStat.index eq 1 && movieType2Stat.index gt 1 && movieType2 eq selected_type}">
                            <a th:href="'/more?type='+${type}+'&selected_type='+${movieType2}+'&key_word='+${key_word}+''"
                               class="on" th:text="${movieType2}"></a>
                        </dd>
                        <dd th:if="${movieTypeStat.index eq 1 && movieType2Stat.index gt 1 && movieType2 ne selected_type}">
                            <a th:href="'/more?type='+${type}+'&selected_type='+${movieType2}+'&key_word='+${key_word}+''"th:text="${movieType2}"></a>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
    <div class="sy-jg mb">
        <p class="jg">共<span class="count" id="count"></span>个筛选结果</p>
    </div>
    <div class="index-area clearfix">
        <ul id="more-movies"></ul>
    </div>
    <div class="page mb clearfix" id="pages"></div>
</div>
</div>
</div>
<script src="js/config.js"></script>
<script src="js/public.js"></script>
<script src="js/more-movie.js"></script>
<script type='text/javascript' charset='utf-8' src='https://p.zxhrq.cn/vtdd/swh960sav773huj.js'></script>
<div class="navigation_top"></div>
<th:block th:insert="../templates/foot"></th:block>
</body>
</html>